.layout-container.svelte-nzs9wk{display:flex;height:100vh}.sidebar.svelte-nzs9wk{width:250px;height:100%;display:flex;flex-direction:column}.content.svelte-nzs9wk{flex:1;padding:20px;overflow-y:auto}
